<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ main_string }}</h1>
    <form action="{% url 'password' %}">
        <select name="length">
            {% for n in range %}
            <option value="{{ n }}">{{ n }}</option>
            {% endfor %}
        </select>
        <br><input type="checkbox" name="uppercase"> Uppercase
        <br><input type="checkbox" name="numbers"> Numbers
        <br><input type="checkbox" name="specials"> Special Characters
        <br>
        <input type="submit" value="Generate password">
    </form>
</body>
</html>